{% extends "base.html" %}
{% block title %}{{cat.name}}{% endblock %}
{% block head %}
<link href="/media/css/photoswipe.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/media/js/klass.min.js"></script>
<script type="text/javascript" src="/media/js/code.photoswipe-3.0.5.min.js"></script>
{% endblock %}
{% block content %}
    <div class="nav-bar">
        <a href="{% url home %}"><img src="/media/img/logo-nav-bar.png" /></a>
    </div>
    <div class="summary">
        <div id="text-summary"></div>
        <div class="clearfix">
        <div class="btn-detail"><a href="aaa">查看详细</a></div></div>
    </div>
    <div class="detail">
        <ul id="Gallery" class="gallery">
        <!-- {% comment %} -->
        {%  for photo in photos %}
            <li><a href="/media/{{photo.t480}}"><img src="/media/{{photo.t220}}" /></a></li>
        {% endfor %}
        <!-- {% endcomment %} -->
        </ul>
    </div>
{% endblock %}